
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10pt;
    background: #fff;
    margin: 10px;
    width: 90%; 
    border-collapse: collapse;
    text-align: left;
}

th {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: left;
}

th.date {
    width : 17ex;
}

tr {
    border-bottom: 1px solid #ccc; 
    padding: 8px 8px;
}

td {
    padding: 4px;
}

.stopped {
    color: red;
}

.finished {
    color: lightgray;
}

.running {
    color: green;
}

.paused {
    color: orange;
}

a {
    text-decoration: none;
    color: black;
}

img.plot {
    width: 200pt; 
    height: 200pt; 
}

div.plot {
    width: 200pt; /*300px;*/
    margin: 0px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
